/* @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */


@media screen and (max-width: 1300px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

:root {
    font-family: Arial, "Open Sans", sans-serif;
    color: white;
    font-size: 10px;
}

h1 {
    line-height: 4.4rem;
}

p {
    line-height: 2.7rem;
}

.gray-section {
    background-color: #181B1E;
}

.black-section {
    background-color: #000000;
}





img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#footer {
    background-color: #111421;
    border-top: none;
    font-size: inherit;
}

#footer span, #footer a {
    color: #93949a;
}

#footer .footer-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #272a36;
    color: #8d8e94;
}

#footer .custom-font-size-2 {
    line-height: inherit;
}

.social-icons li {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.social-icons li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: transparent;
    border-radius: 50%;
    margin: 1em;
    border: 1px solid #93949a;
    color: #93949a !important;
}

@media (max-width: 991px) {
    #footer {
        text-align: center;
    }

    #footer .container .row > .col-md-5,
    #footer .container .row > .col-md-3:nth-of-type(2) {
        margin-bottom: 100px;
    }
}

