
/* TEAM CSS START */
    .team-co-founders {
        display: flex;
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 1em;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .team-lead-organizers {
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 1em;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 960px){
        .team-co-founders {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    @media only screen and (max-width: 550px){
        .team-co-founders {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    .team-co-founder {
        padding:1em;
        max-width: 45%;
        max-height: 45%;
        min-width: 300px;
        min-height: 333px;
    }


    .team-lead-organizer {
        padding:1em;
        max-width: 30%;
        max-height: 30%;
        min-width: 300px;
        min-height: 333px;
    }

    .team-text {
        font-weight: bold;
        text-transform: none;
        color: white;
    }

    .team-img {
        border-radius: 50% !important;
        padding-bottom: 1em !important;
    }


/* TEAM CSS END */










/* SCHEDULE CSS START */
        .schedule {
            display: flex;
            flex-direction: row;
            padding-left: 5em;
            padding-right: 5em;
            padding-bottom: 1em;
            flex-wrap: wrap;
            justify-content: center;
        }

        .schedule-day {
            display: flex;
            background-color: #3949AB;
            height: max-content;
            flex: 1;
            margin: 2em;
            padding: 3em;
            flex-direction: column;
            flex-grow: 0.5;
        }
        .schedule-date{
            display: flex;
            color: white;
            font-size: 2em;
        }

        .schedule-item {
            display: flex;
            background-color: hsl(231, 100%, 20%);;
            min-height: 4em;
            margin: 1em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1em;
            flex-direction: row;
            justify-content: center;
            flex-shrink: 0;
        }
        .schedule-item-main {
            display: flex;
            background-color: hsl(231, 100%, 0%);;
            min-height: 4em;
            margin: 1em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1em;
            flex-direction: row;
            justify-content: center;
            flex-shrink: 0;
        }

        .schedule-item-workshop {
            
            display: flex;
            background-color: #001799;
            min-height: 4em;
            margin: 1em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1em;
            flex-direction: row;
            justify-content: center;
            flex-shrink: 0;
        }

          .schedule-item-fun {
            display: flex;
             background-color: hsl(231, 100%, 30%);
            
            min-height: 4em;
            margin: 1em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1em;
            flex-direction: row;
            justify-content: center;
            flex-shrink: 0;
        }

        @media only screen and (max-width: 960px){
            .schedule-item{
            min-width: 450px;
            }
        }

        @media only screen and (max-width: 550px){
            .schedule-item{
            min-width: 350px;
            }
        }

        .dot {
            height: 1em;
            width: 1em;
            background-color: #bbb;
            border-radius: 50%;
            text-align: center;
            margin-left: 1em;
            margin-right: 1em;
        }

        .schedule-item-heading {
            align-self: flex-start;
            color: aliceblue;
            font-size: 1em;
            flex: 2;
            text-align: left;
            font-family: monospace;
        }

        .schedule-item-time {
            color: aliceblue;
            font-size: 1em;
            flex: 1;
            text-align: right;
            flex-shrink: 0;
        }









/* SCHEDULE CSS END */


img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#footer {
    background-color: #111421;
    border-top: none;
    font-size: inherit;
}

#footer span, #footer a {
    color: #93949a;
}

#footer .footer-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #272a36;
    color: #8d8e94;
}

#footer .custom-font-size-2 {
    line-height: inherit;
}

.social-icons li {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.social-icons li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: transparent;
    border-radius: 50%;
    margin: 1em;
    border: 1px solid #93949a;
    color: #93949a !important;
}

@media (max-width: 991px) {
    #footer {
        text-align: center;
    }

    #footer .container .row > .col-md-5,
    #footer .container .row > .col-md-3:nth-of-type(2) {
        margin-bottom: 100px;
    }
}

