.faqs {
    height: 80vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.faqs-title {
    font-size: 2.7rem;
    font-weight: bold;
}