
.intro {
    margin: 0;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #021C33;
}

.intro-logo {
    width: 110rem;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.3s;
}

.intro-date {
    font-size: 31px;
    color: white;
    font-weight: bold;
    display: inline-block !important;

    margin-bottom: 0;
    vertical-align: middle !important;
}

.intro-button {
    display: flex;
    margin: 0;
}

.date-and-button {
    margin-top: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    mix-blend-mode: hard-light;
}

.date-and-button::before {
    content: "";
    position: absolute;
    left: 0%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, gray 5%, gray 100%);
    animation: swipe 2.5s linear forwards;
}

.intro-rocket {
    margin: 0;
    height: 200vh;
    width: auto;
    position: absolute;
    left: 5%;
    bottom: -108%;

    overflow: hidden;
}

.intro-planet1 {
    width: 25vw;
    height: auto;
    position: absolute;
    right: 3%;
    bottom: -3%;

}

.intro-planet2 {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 5%;
    left: 16%;
}

.banner-container {
    position: relative;
    width: 100px;
    height: 150px;
    margin-left: 90%;
}

.banner-logo {
    width: 75%;
    height: auto;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.banner-text {
    z-index: 550; 
    position: relative;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 1044px) {
    .intro-logo {
        width: 85rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn1 1.3s !important;
    }

    .intro-rocket {
        margin: 0;
        height: 150vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .banner-container {
        margin-left: 85%;
    }
}

@media only screen and (max-width: 828px) {
    .intro-logo {
        width: 65rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn2 1.3s !important;
    }

    .intro-rocket {
        margin: 0;
        height: 130vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .banner-container {
        margin-left: 80%;
    }


}

@media only screen and (max-width: 790px) {
    .date-and-button {
        margin-top: 12rem;
    }
    .intro-date {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #intro-button {
        margin-top: 20px !important;
    }

}
@media only screen and (max-width: 787px) {
    .date-and-button {
        margin-top: 14rem;
    }
    .intro-date {
        margin-bottom: 20px;
    }


}

@media only screen and (max-width: 638px) {
    .intro-logo {
        width: 45rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn3 1.3s !important;
    }

    .intro-date {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .intro-rocket {
        margin: 0;
        height: 130vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .banner-container {
        margin-left: 75%;
    }
}

@media only screen and (max-width: 556px) {
    .intro-logo {
        width: 45rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn4 1.3s !important;
    }

    .intro-rocket {
        margin: 0;
        height: 130vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .intro-date {
        font-size: 25px !important;
    }

    .btn {
        font-size: 18px !important;
        padding: 14px 26px 14px 26px !important;
    }

}

@media only screen and (max-width: 436px) {
    .intro-logo {
        width: 38rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn5 1.3s !important;
    }

    .intro-rocket {
        margin: 0;
        height: 130vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .intro-date {
        font-size: 20px !important;
    }

    .date-and-button {
        margin-top: 10rem !important;
    }

    .banner-container {
        margin-left: 65%;
    }

}

@media only screen and (max-width: 340px) {
    .intro-logo {
        width: 33rem;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn6 1.3s !important;
    }

    .intro-date {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .intro-rocket {
        margin: 0;
        height: 130vh;
        width: auto;
        position: absolute;
        left: 1%;
        bottom: -108%;

        overflow: hidden;
    }

    .intro-date {
        font-size: 20px !important;
    }

    .date-and-button {
        margin-top: 10rem !important;
    }


}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 170rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 110rem;
        height: auto;
    }
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 120rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 85rem;
        height: auto;
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 100rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 65rem;
        height: auto;
    }
}

@keyframes fadeIn3 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 75rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 45rem;
        height: auto;
    }
}

@keyframes fadeIn4 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 75rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 45rem;
        height: auto;
    }
}

@keyframes fadeIn5 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 60rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 38rem;
        height: auto;
    }
}

@keyframes fadeIn6 {
    from {
        opacity: 0;
        filter: blur(8px);
        width: 65rem;
        height: auto;
    }
    to {
        opacity: 1;
        width: 33rem;
        height: auto;
    }
}

@keyframes swipe {
    0% {
        left: 0%;
        opacity: 1;
    }
    99% {
        left: 99%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
