#Totally_Not_Suspicious_Random_Canvas_😏🤫{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#info {
	display: none;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
}