/*Sticking this here as it doesn't make sense to create a new file*/
.speaker-img {
    margin: auto;
    width: 15%;
    height: 15%;
}

.speaker-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 60px;
    text-align: center;
}
