.speaker-img {
    margin: auto;
    width: 25rem;
    height: 25rem;
    border-radius: 50% !important;
}

.speaker-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 60px;
    text-align: center;
}


.speaker-text {
    font-weight: bold;
    text-transform: none;
    color: white;
    font-size: 2.52rem;
}

.speaker-desc{
    font-weight: normal;
    text-transform: none;
    color: white;
    font-size: 2rem;
}
.speaker-container {
    margin-left: 15rem;
    margin-right: 15rem;
}

@media only screen and (min-width: 0px) {
    .speaker-img{
        width: 15rem;
        height: 15rem;
    }
    .speaker-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (min-width: 640px) {
    .speaker-img{
        width: 18rem;
        height: 18rem;
    }

}

/*
@media only screen and (min-width: 960px) {
    .speaker-img{
        width: 18rem;
        height: 18rem;
    }
}
*/

@media only screen and (min-width: 1280px) {
    .speaker-img{
        width: 20rem;
        height: 20rem;
    }
}
@media only screen and (min-width: 1600px) {
    .speaker-img{
        width: 25rem;
        height: 25rem;
    }
}
