.videoWrapper {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}

#video {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}