@media (min-width: 800px){
    .cust{
        width: 82em; 
        height: auto;
    }
}
@media (max-width: 799px){
    .cust{
        width: 80em; 
        height: auto;
    }
}
@media (max-width: 600px){
    .cust{
        width: 78em; 
        height: auto;
    }
}