<!DOCTYPE html>
<html class="side-header-hamburguer-sidebar side-header-above side-header-hamburguer-sidebar-narrow-bar side-header-hide">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Explore Hacks</title>

    <meta content="Explore Hacks" name="keywords"/>
    <meta content="Code Without Limits" name="description">
    <meta content="okler.net" name="author">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" name="viewport">

    <!-- Web Fonts  -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/animate/animate.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="vendor/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/theme-elements.css" rel="stylesheet">
    <link href="css/theme-blog.css" rel="stylesheet">
    <link href="css/theme-shop.css" rel="stylesheet">

    <!-- Current Page CSS -->
    <link href="vendor/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="vendor/rs-plugin/css/layers.css" rel="stylesheet">
    <link href="vendor/rs-plugin/css/navigation.css" rel="stylesheet">

    <!-- Demo CSS -->


    <!-- Skin CSS -->
    <link href="css/skins/skin-corporate-11.css" rel="stylesheet">

    <!-- Theme Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.min.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	</style>
    

</head>
<body class="loading-overlay-showing" data-loading-overlay data-plugin-options="{'hideDelay': 500}"
      data-plugin-page-transition>
<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="main bg-color-dark-scale-3" role="main">
    <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
        <div class="slider rev_slider" data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1200, 'gridheight': 700, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-primary' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}" data-plugin-revolution-slider data-version="5.4.8"
             id="revolutionSlider">
            <ul>
                <li class="slide-overlay slide-overlay-gradient-animated slide-overlay-level-4 slide-overlay-gradient"
                    data-transition="fade" style="width: 100%; height:100%">
                    <img alt="" data-bgposition="center center" src="img/custom/FullScene1.png">
                    <div>
                        <img alt=""
                             class="tp-caption font-weight-extra-bold text-color-light logo img-fluid"
                             data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' data-x="center" data-y="center"
                             src="img/icons/ExploreHacksLogo.png" style="width: 80em; height: auto;">
                    </div>
                    <div class="tp-caption text-center font-weight-bold text-10 "
                         data-fontsize="['18','18','18','40']"
                         data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2300,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-lineheight="['26','26','26','90']" data-voffset="['110','110','110','200']"
                         data-width="['325','325','325','550']" data-x="center"
                         data-y="center"
						 style="color: black; font-family: 'Poppins', sans-serif;">
                        Coding the Future
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="container py-4 my-5">
        <div class="row text-center mb-5">
            <div class="col-md-10 mx-md-auto">
                <h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
                    <span class="text-color-light">Gain the opportunity to</span>
                    <span class="word-rotator-words bg-dark">
                        <b class="is-visible">discover</b>
                        <b>create</b>
                        <b>build</b>
                        <b>compete</b>
                    </span>
                    <span class="text-color-light"> by participating in Explore Hacks </span>
                </h1>
                <p class="lead text-4 font-weight-normal appear-animation text-color-light"" data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="200">
                Explore Hacks is a 3 day hackathon that aims to grant both experienced and beginner student programmers the chance to explore the process of
                ideation to product execution. Participants also gain the opportunity to attend a variety of workshops and mini-events to enhance their programming skills
                and explore new areas in computer science. And it's all for free!
                </p>
            </div>
        </div>
        <div class="row justify-content-center counters counters-lg">
            <div class="col-md-3 appear-animation" data-appear-animation="fadeInLeftShorter"
                 data-appear-animation-delay="500">
                <div class="counter counter-with-unit counter-unit-on-top">
                    <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8 text-color-light">$</strong>
                    <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15 text-color-light" data-to="10000">0</strong>
                    <label class="font-weight-normal text-3 text-lg-4 px-5 px-lg-4 text-color-light">In prices</label>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 appear-animation" data-appear-animation="fadeIn"
                 data-appear-animation-delay="300">
                <div class="counter counter-with-unit counter-unit-on-top">
                    <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15 text-color-light" data-to="50">0</strong>
                    <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8 text-color-light">+</strong>
                    <label class="font-weight-normal text-3 text-lg-4 px-5 text-color-light">Mini events/Worskhops</label>
                </div>
            </div>
            <div class="col-md-3 appear-animation" data-appear-animation="fadeInRightShorter"
                 data-appear-animation-delay="500">
                <div class="counter counter-with-unit counter-unit-on-top">
                    <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15 text-color-light" data-to="350">0</strong>
                    <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8 text-color-light">+</strong>
                    <label class="font-weight-normal text-3 text-lg-4 px-5 text-color-light">Participants from around the world</label>
                </div>
            </div>
        </div>
    </div>

    <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0 appear-animation"
             data-appear-animation="fadeIn">
        <div class="container my-3">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation"
                     data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                    <div class="featured-boxes featured-boxes-modern-style-1">
                        <div class="featured-box overlay overlay-show">
                            <div class="featured-box-background"
                                 style="background-image: url(img/generic/generic-corporate-11-1.jpg); background-size: cover; background-position: center;"></div>
                            <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                                <i class="icon-featured icons icon-screen-smartphone"></i>
                                <h2>Mobile Apps</h2>
                                <p class="font-weight-light">Lorem ipsum dolor sit amet, coctetur adipiscing elit. </p>
                                <a class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1"
                                   href="/">GET
                                    STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation"
                     data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                    <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-primary">
                        <div class="featured-box">
                            <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                                <i class="icon-featured icons icon-layers text-color-primary"></i>
                                <h2>Creative Websites</h2>
                                <p class="font-weight-light">Lorem ipsum dolor sit amet, coctetur adipiscing elit. </p>
                                <a class="btn btn-light btn-outline font-weight-semibold text-color-dark btn-px-5 btn-py-2 border-width-1 text-1"
                                   href="/">GET
                                    STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-7 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                     data-appear-animation-delay="600">
                    <div class="featured-boxes featured-boxes-modern-style-1">
                        <div class="featured-box overlay overlay-show">
                            <div class="featured-box-background"
                                 style="background-image: url(img/generic/generic-corporate-11-2.jpg); background-size: cover; background-position: center;"></div>
                            <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                                <i class="icon-featured icons icon-screen-desktop"></i>
                                <h2>Brand Solutions</h2>
                                <p class="font-weight-light">Lorem ipsum dolor sit amet, coctetur adipiscing elit. </p>
                                <a class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1"
                                   href="/">GET
                                    STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row align-items-center text-center text-md-left py-5 my-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <h2 class="font-weight-bold text-6 line-height-1 ls-0 mb-4">About Our Clients</h2>
                <p class="text-4">There are so many styles you can combine that is possible to create almost any kind of
                    layout based on Porto Template.</p>
                <p class="mb-4 pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet
                    hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo.</p>
                <a class="btn btn-dark font-weight-semibold rounded-0 text-2 btn-px-5 btn-py-2" href="#">LEARN MORE</a>
            </div>
            <div class="col-lg-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-1.png">
                    </div>
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-4.png">
                    </div>
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-3.png">
                    </div>
                </div>
                <div class="row justify-content-center py-md-3 my-md-4">
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-5.png">
                    </div>
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-6.png">
                    </div>
                    <div class="col-9 col-md-4 px-0 mb-4 mb-md-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-7.png">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-9 col-md-4 px-0">
                        <img alt="" class="img-fluid hover-effect-3" src="img/logos/logo-2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-0">

    <div class="container">
        <div class="row py-4 my-5">
            <div class="col appear-animation" data-appear-animation="fadeInUpShorter">

                <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-0"
                     data-plugin-options="{'items': 1, 'loop': false, 'autoHeight': true}">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img alt="" class="img-fluid rounded-circle" src="img/clients/client-1.jpg">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum
                                    tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img alt="" class="img-fluid rounded-circle" src="img/clients/client-1.jpg">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum
                                    tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="section bg-color-black section-height-3 border-0 m-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="font-weight-normal text-center text-6 pb-3"> <strong
                            class="font-weight-extra-bold text-white">FAQs</strong></h2>
                </div>
            </div>
            <div class="row mb-lg-4">
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                    data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-support text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">What is a hackathon?</h4>
                            <p class="text-color-grey">A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon
                            to learn, build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t
                            have to be a programmer and you certainly don’t have to be majoring in Computer Science. - MLH</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-layers text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">Why should I join Explore Hacks?</h4>
                            <p class="text-color-grey">Explore Hacks is the perfect opportunity for you to learn something new no matter how much you already know while also
                            having lots of fun through workshops, mini events and interacting with mentors. You will also gain the experience of how
                            to use programming to solve real world problems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">How are projects judged?</h4>
                            <p class="text-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum
                                pellentesque
                                imperdiet. Nulla lacinia iaculis nulla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">Am I eligible to participate?</h4>
                            <p class="text-color-grey">To participate, you need to be a student at a highschool/college and be of age 13+.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">Do I need a team to participate?</h4>
                            <p class="text-color-grey">You may have teams of up to 4 people. You do not need to sign up with a team.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">Do I need to pay to register?</h4>
                            <p class="text-color-grey">Nope! Explore Hacks is completely free.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">When and where is the hackathon?</h4>
                            <p class="text-color-grey">The hackathon is on ? June 2021. The hackathon will be hosted completely online!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white">What if I want to use hardware for my project?</h4>
                            <p class="text-color-grey">You can. But we won’t be able to provide you with any parts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold mb-2 text-white text-white">What do I do if I have a question, not on this list?</h4>
                            <p class="text-color-grey">You may email us at sponsors@explorehacks.org</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0 appear-animation"
             data-appear-animation="fadeIn">
        <div class="container my-3">
            <div class="row">
                <div class="col text-center appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <h2 class="font-weight-bold line-height-1 mb-3">What's Happening</h2>
                    <p class="text-4 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum,
                        nulla vel pellen.</p>
                </div>
            </div>
            <div class="row justify-content-center pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="400">
                <div class="col-sm-9 col-md-8 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-0">
                        <div class="card-body p-5">
                            <h4 class="font-weight-semibold text-5 line-height-3 ls-0 mb-3"><a class="text-dark text-decoration-none"
                                                                                               href="#">Lorem
                                ipsum dolor sit amet, consectetur</a></h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus
                                porta...</p>
                            <div class="d-flex align-items-center">
                                <img alt="" class="img-fluid rounded-circle mr-2" src="img/avatars/avatar.jpg"
                                     width="25"/>
                                <strong class="text-color-dark text-2">by John Doe</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-8 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-0">
                        <div class="card-body p-5">
                            <h4 class="font-weight-semibold text-5 line-height-3 ls-0 mb-3"><a class="text-dark text-decoration-none"
                                                                                               href="#">Lorem
                                ipsum dolor sit amet, consectetur</a></h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus
                                porta...</p>
                            <div class="d-flex align-items-center">
                                <img alt="" class="img-fluid rounded-circle mr-2" src="img/avatars/avatar.jpg"
                                     width="25"/>
                                <strong class="text-color-dark text-2">by John Doe</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-8 col-lg-4">
                    <div class="card border-0">
                        <div class="card-body p-5">
                            <h4 class="font-weight-semibold text-5 line-height-3 ls-0 mb-3"><a class="text-dark text-decoration-none"
                                                                                               href="#">Lorem
                                ipsum dolor sit amet, consectetur</a></h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus
                                porta...</p>
                            <div class="d-flex align-items-center">
                                <img alt="" class="img-fluid rounded-circle mr-2" src="img/avatars/avatar.jpg"
                                     width="25"/>
                                <strong class="text-color-dark text-2">by John Doe</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <a class="btn btn-dark font-weight-semibold rounded-0 text-2 btn-px-5 btn-py-2" href="#">VIEW
                        MORE</a>
                </div>
            </div>
        </div>
    </section>

</div>

<footer class="mt-0 appear-animation" data-appear-animation="fadeIn" id="footer">
    <div class="container">
        <div class="row justify-content-center py-5 my-5">
            <div class="col-lg-8 text-center">
                <h2 class="text-8 line-height-4 text-lg-10 line-height-lg-1 font-weight-semibold ls-0 mt-5">Create your
                    new website now!</h2>
                <p class="text-4 font-weight-normal px-3 mb-5">Porto Admin Integration - 100% Fully Responsive - Retina
                    Ready - Google Fonts - Super Fast Top-Level Support - Customizable - RTL Support - SEO Friendly</p>
                <a class="btn btn-primary px-5 py-3 font-weight-semibold text-color-light mt-3 mb-5" href="#"
                   target="_blank">GET STARTED NOW <i
                        class="fas fa-arrow-right ml-2"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col text-center">
                    <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light mb-3">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                             title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                            title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                                             title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                    <p><strong>PORTO TEMPLATE</strong> - © Copyright 2019. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- Vendor -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="vendor/popper/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/common/common.min.js"></script>
<script src="vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="vendor/isotope/jquery.isotope.min.js"></script>
<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/jquery.vide.min.js"></script>
<script src="vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="js/theme.init.js"></script>


</body>
</html>
